.landing-image-container {
  background-color: #3c4146;
  position: relative;
}

.landing-title {
  position: absolute;
  left: 20%;
  top: 20%;
}

.landing-image {
  width: 100%;
  height: 100%;
  opacity: 65%;
  display: block; /* Removes line under image */
}

.nav {
  position: absolute;
  right: 25%;
  top: 20%;
}

/* Small screen */
@media (max-width: 650px) {
  .nav {
    right: 27%;
  }
}

/* Large screen */
@media (min-width: 1060px) {
  .nav {
    top: 30%;
  }
}
