.landing-image-container {
  background-color: #3c4146;
  position: relative;
}

.landing-title-container {
  position: absolute;
  left: 10%;
  top: 0%;
  font-family: "Inknut Antiqua";
  padding: 0;
}

.landing-title {
  position: absolute;
  padding: 0;
  font-size: 5rem;
  color: white;
  font-weight: 100;
}

.landing-image {
  width: 100%;
  height: 100%;
  opacity: 65%;
  display: block; /* Removes line under image */
}

.nav {
  position: absolute;
  right: 30%;
  top: 10%;
  font-weight: 100;
  color: white;
  list-style: none;
  font-size: 1.5rem;
}

.nav-item {
  margin: 1rem;
}

#resume-nav {
  text-decoration: none;
  color: white;
}

/* Mobile Devices */
@media (min-width: 320px) {
  .landing-title-container {
    left: 5%;
  }
  .landing-title {
    font-size: 2.2rem;
    top: 0rem;
  }
  #pedrigal-title {
    top: 2.2rem;
  }
  .nav {
    top: 3%;
    font-size: 1rem;
  }
  .nav-item {
    margin: 0.2rem;
  }
}

/* Small screen - Desktop */
@media (min-width: 480px) {
  .landing-title {
    font-size: 3.5rem;
  }
  #pedrigal-title {
    top: 4rem;
  }
  .nav {
    top: 7%;
    font-size: 1.2rem;
  }
  .nav-item {
    margin: 0.5rem;
  }
}

/* Medium size screen - Desktop */
@media (min-width: 600px) {
  .landing-title {
    font-size: 5rem;
  }
  #pedrigal-title {
    top: 5.5rem;
  }
  .nav {
    font-size: 1.7rem;
  }
  .nav-item {
    margin: 0.4rem;
  }
}

/* Large screen - Desktop */
@media (min-width: 1025px) {
  .landing-title {
    font-size: 7rem;
  }
  #pedrigal-title {
    top: 7.5rem;
  }
  .nav {
    top: 8%;
    right: 25%;
    font-size: 2.5rem;
  }
  .nav-item {
    margin: 0.5rem;
  }
}

/* Humongous screen - Desktop */
@media (min-width: 1281px) {
  .landing-title {
    font-size: 9rem;
  }
  #pedrigal-title {
    top: 9.5rem;
  }
  .nav {
    top: 12%;
  }
  .nav-item {
    margin: 1rem;
  }
}
