.app-container {
  width: 100%;
}

.landing-image-container {
  background-color: #3c4146;
  position: relative;
}

.landing-title-container {
  position: absolute;
  left: 10%;
  top: 0%;
  font-family: "Inknut Antiqua";
  padding: 0;
}

.landing-title {
  position: absolute;
  padding: 0;
  font-size: 5rem;
  color: white;
  font-weight: 100;

  /* Appearing animation */
  opacity: 0;
  filter: blur(5px);
  transition: all 2s;
}

.landing-title.show {
  opacity: 1;
  filter: blur(0);
}

.landing-image {
  width: 100%;
  height: 100%;
  opacity: 65%;
  display: block; /* Removes line under image */
}

.nav {
  position: absolute;
  right: 30%;
  top: 10%;
  font-weight: 100;
  color: white;
  list-style: none;
  font-size: 1.5rem;

  /* Appearing animation */
  opacity: 0;
  filter: blur(5px);
  transition: all 2s;
}

.nav.show {
  opacity: 1;
  filter: blur(0);
}

.nav-item {
  margin: 1rem;
}

#resume-nav {
  text-decoration: none;
  color: white;
}

/* Mobile Devices */
@media (min-width: 320px) {
  #paolo-title,
  #pedrigal-title {
    opacity: 0;
  }
  .nav {
    top: 3%;
    font-size: 1.3rem;
    right: 30%;
    width: 60%;
    font-weight: 200;
  }
  .nav-item {
    display: inline-block;
    margin: 0.7rem;
  }
}

/* Small screen - Desktop */
@media (min-width: 480px) {
  .landing-title {
    font-size: 3.5rem;
  }
  .nav {
    top: 7%;
    font-size: 1.5rem;
  }
  .nav-item {
    margin: 0.8rem;
  }
}

/* Medium size screen - Desktop */
@media (min-width: 600px) {
  .landing-title-container {
    left: 8%;
    top: -2rem;
  }
  .landing-title {
    font-size: 5rem;
  }
  #paolo-title,
  #pedrigal-title {
    opacity: 1;
  }
  #pedrigal-title {
    top: 5.5rem;
  }
  .nav {
    top: 0%;
    font-size: 1.7rem;
  }
  .nav-item {
    margin: 0.4rem;
  }
}

/* Large screen - Desktop */
@media (min-width: 1025px) {
  .landing-title-container {
    top: -2rem;
    left: 10%;
  }
  .landing-title {
    font-size: 7rem;
  }
  #pedrigal-title {
    top: 7.5rem;
  }
  .nav {
    top: 0%;
    right: 23%;
    font-size: 2rem;
    width: 65%;
  }
  .nav-item {
    margin: 1rem;
  }
}

/* Humongous screen - Desktop */
@media (min-width: 1281px) {
  .landing-title-container {
    top: -4rem;
  }
  .landing-title {
    font-size: 9rem;
  }
  #pedrigal-title {
    top: 9.5rem;
  }
  .nav {
    top: 5%;
    width: 10%;
    right: 27%;
  }
  .nav-item {
    display: block;
    margin: 2rem;
  }
}
