.projects-container {
  padding-top: 5%;
  padding-bottom: 18%;
  position: relative;
  background-color: white;
}

.projects-heading {
  text-align: center;
  font-size: 2.2rem;
  left: 5%;

  /* Appearing animation */
  opacity: 0;
  transition: all 2s;
}

.projects-heading.show {
  opacity: 1;
}

.project-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Mobile Devices */
@media (min-width: 320px) {
  .projects-heading {
    font-size: 1.7rem;
  }
}

/* Small screen - Desktop */
@media (min-width: 480px) {
}

/* Medium size screen - Desktop */
@media (min-width: 600px) {
  .projects-heading {
    font-size: 2.2rem;
  }
}

/* Large screen - Desktop */
@media (min-width: 1025px) {
  .projects-heading {
    font-size: 2.7rem;
  }
}

/* Humongous screen - Desktop */
@media (min-width: 1281px) {
  .projects-container {
    padding-bottom: 10%;
  }
}

/* CSS provided from https://www.shapedivider.app/ */
.custom-shape-divider-bottom-1696836311 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-bottom: -3px; /* To remove white line at bottom */
}

.custom-shape-divider-bottom-1696836311 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1696836311 .shape-fill {
  fill: #070728;
}
/* End of CSS provided from https://www.shapedivider.app/ */
